<h1>Holiday to <%= @holiday['region'] %></h1>

<p>That'll set you back £<%= @holiday['price'] %></p>

<% if @suggestions.any? %>
<h3>Some suggestions</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Suggested Location</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggestions.each do |holiday| %>
      <tr class="holiday-row">
        <td><a href="/holidays/<%= holiday.name %>"><%= holiday.name %></a></td>
        <td>£<%= holiday.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
